body {
   font-family: var(--font-main);
   background-color: var(--bg-main);
   color: var(--text-primary);
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}

#root {
   height: 100%;
}
