*,
*::before,
*::after {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   height: 100%;
}

body {
   margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
}

ul,
ol {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   color: inherit;
   text-decoration: none;
}

button {
   font: inherit;
   border: none;
   background: none;
   cursor: pointer;
}
