.layout {
   display: flex;
   height: 100vh;
   width: 100%;
}

.sidebar {
   background-color: var(--bg-sidebar);
   flex-shrink: 0;
}

.main {
   display: flex;
   flex-direction: column;
   flex: 1;
   min-width: 0;
}

.header {
   height: var(--header-height);
   display: flex;
   align-items: center;

   position: relative;
}

.content {
   flex: 1;
   overflow-y: auto;
   padding: 24px;
   background-color: #f3f7fa;
}
