.card {
   background: linear-gradient(135deg, rgba(0, 52, 89, 0.9), #105e95e7);
   border-radius: 20px;
   padding: 24px;
   display: flex;
   flex-direction: column;
   gap: 12px;
   min-height: 275px;
   min-width: 350px;

   box-shadow: 0 16px 40px rgba(0, 0, 0, 0.25);
   transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
   transform: translateY(-4px);
   box-shadow: 0 22px 48px rgba(0, 0, 0, 0.35);
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.date {
   font-size: 13px;
   font-weight: 500;
   color: #b7d7e6;
   opacity: 0.9;
   white-space: nowrap;
}

.title {
   font-size: 1.375rem;
   font-weight: 600;
   color: #ffffff;
}

.status {
   font-size: 12px;
   padding: 4px 10px;
   border-radius: 999px;
   font-weight: 500;
}

.inProgress {
   background: rgba(255, 184, 0, 0.15);
   color: #ffb800;
}

.completed {
   background: rgba(45, 212, 191, 0.15);
   color: #2dd4bf;
}

.name {
   font-size: 15px;
   font-weight: 500;
   color: #d6ecf8;
   /* margin-top: auto; */
}

.meta {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   font-size: 13px;
   color: #b7d7e6;
}

.badge {
   padding: 4px 10px;
   border-radius: 999px;
   background: rgba(41, 196, 255, 0.15);
   color: #29c4ff;
   font-weight: 600;
}

.actions {
   margin-top: auto;
   display: flex;
   gap: 12px;
}

.primary {
   flex: 1;
   padding: 12px 14px;
   border-radius: 14px;
   border: none;
   cursor: pointer;

   background: linear-gradient(135deg, #00a6e8d5, #29c2ffd2);
   color: #ffffff;
   font-weight: 600;
   font-size: 14px;

   box-shadow: 0 10px 26px rgba(0, 168, 232, 0.35);
   transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.primary:hover {
   /* transform: translateY(-1px); */
   box-shadow: 0 14px 32px rgba(0, 168, 232, 0.45);
}

.delete {
   padding: 12px 14px;
   border-radius: 14px;
   border: 1px solid rgba(210, 119, 119, 0.629);
   background: transparent;
   color: #ff6b6b;
   cursor: pointer;
   font-size: 14px;

   transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.delete:hover {
   background: rgba(255, 107, 107, 0.12);
   border-color: rgba(255, 107, 107, 0.4);
}
.footer {
   padding: 10px 0;
   /* text-align: center; */

   font-size: 13px;
   font-weight: 600;
   letter-spacing: 0.04em;

   color: #9fdcff;
   /* background: rgba(255, 255, 255, 0.03); */

   border-top: 1px solid rgba(255, 255, 255, 0.12);
}
