.filters {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding: 20px 24px;
   margin: 24px 0;

   background: linear-gradient(135deg, rgba(0, 52, 89, 0.9), #003459e6);

   border-radius: 18px;

   backdrop-filter: blur(14px);
   -webkit-backdrop-filter: blur(14px);

   position: relative;
   z-index: 50;
   border: 1px solid rgba(255, 255, 255, 0.08);

   box-shadow: 0 6px 18px rgba(0, 23, 31, 0.6),
      inset 0 1px 0 rgba(255, 255, 255, 0.04);
}

/* Левая часть */

.left {
   display: flex;
   align-items: center;
   gap: 20px;
}

/* Секция */
.section {
   display: flex;
   padding: 4px;

   background: rgba(255, 255, 255, 0.06);
   border-radius: 999px;

   border: 1px solid rgba(255, 255, 255, 0.08);
}

.sectionBtn {
   padding: 6px 14px;
   border-radius: 999px;

   font-size: 13px;
   color: rgba(255, 255, 255, 0.75);

   background: transparent;
   border: none;
   cursor: pointer;
}

.active {
   background: linear-gradient(
      135deg,
      rgba(0, 168, 232, 0.35),
      rgba(0, 126, 167, 0.25)
   );

   color: #ffffff;

   box-shadow: inset 0 0 0 1px rgba(0, 168, 232, 0.4),
      0 4px 12px rgba(0, 0, 0, 0.4);
}

/* Правая часть */

.right {
   display: flex;
   align-items: center;
}

/* Поиск */

.search {
   height: 38px;
   width: 260px;

   padding: 0 16px;

   border-radius: 999px;

   background: rgba(255, 255, 255, 0.1);
   color: #ffffff;

   border: 1px solid rgba(255, 255, 255, 0.12);

   font-size: 14px;
}
.search::placeholder {
   color: rgba(255, 255, 255, 0.5);
}
